:root {
  --primary-color: #a7d3a7;
  --secondary-color: #68d168;
}

/* Default styles */
* {
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container */

.container {
  position: relative;
  max-width: 600px;
  margin: 40px auto 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888;
}

.container h1 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 3px 3px 5px #333;
}

/* Form */

.add-task {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-task input[type = 'text'] {
  border: none;
  padding: 7px;
  width: 100%;
  margin-right: 5px;
  font-size: 1.1rem;
  border-radius: 5px;
}

.add-task input[type = 'text']:focus, .btn {
  outline: none;
}

/* Buttons */

.btn {
  background: var(--primary-color);
  padding: 7px;
  border: none;
  color: #000;
  border-radius: 3px;
  font-weight: bold;
}

.btn:active {
  transform: scale(0.95);
}

button {
  position: absolute;
  top: 45px;
  left: 20px;
}

/* Task List */

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-size: 1.3rem;
  color: #fff;
  margin-top: 40px;
  width: 550px;
}

.tasks .task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  background: #1f630a;
  padding: 8px 10px;
  border-radius: 5px;
}

.tasks .task i {
  color: #ff0000;
}

/* Media Queries */

/* Tablet */
@media(max-width: 650px) {
  .container {
    max-width: 400px;
  }

  button {
    font-size: 0.6rem;
  }
  
  .tasks {
    font-size: 1rem;
    color: #fff;
    margin-top: 30px;
    width: 350px;
  }
}

/* Mobile */
@media(max-width: 375px) {
  
  .container {
    max-width: 300px;
    margin: 30px auto 0;
  }
  
  .container h1 {
    font-size: 1.4rem;
    letter-spacing: 0;
  }
  
  .add-task input[type = 'text'] {
    font-size: 0.8rem;
  }
  
  button {
    top: 35px;
    font-size: 0.6rem;
  }
  
  .tasks {
    font-size: 1rem;
    margin-top: 20px;
    width: 250px;
  }

}
